<div class="container mb-4">
    <div class="row">
        <div class="col-12" th:if="${categories.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>

                        <th scope="col">Name</th>
                        <th scope="col"># of items in category</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cat : ${categories}" class="product">
                        <td th:text="${cat.getName()}"></td>
                        <td th:text="${cat.getAllItems().size()}"></td>
                        <td><a class="btn btn-secondary" th:href="@{'/categories/{cat}' (cat=${cat.getId()})}">View all items in category</a> </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>