<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    @media (min-width: 1025px) {
        .h-custom {
            height: 100vh !important;
        }
    }

    .product {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }

    {
        background-color: #eae8e8;
    }
    #button2{
        margin-right: -120px;
    }
</style>
<div class="container">
    <h3 class="jumbotron-heading">All subjects in system</h3>
</div>
<div class="container mb-4">
    <div class="row">
        <div class="col-12" th:if="${subjects.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>

                        <th scope="col">Name</th>
                        <th scope="col"># of items for subject</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cat : ${subjects}" class="product">
                        <td th:text="${cat.getName()}"></td>
                        <td th:text="${cat.getAllItems().size()}"></td>
                        <td><a id=button2 class="btn btn-secondary" th:href="@{'/subjects/{cat}' (cat=${cat.getId()})}">View all items for subject</a> </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>